<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-invoke-dialer" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>InvokeDial</name>
	<js-module name="InvokeDial" src="www/InvokeDial.js">
		<clobbers target="cordova.plugins.InvokeDial" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="InvokeDial">
				<param name="android-package" value="cordova-plugin-invoke-dialer.InvokeDial" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/InvokeDial.java" target-dir="src/cordova-plugin-invoke-dialer/InvokeDial" />
	</platform>
</plugin>