<?xml version='1.0' encoding='utf-8'?>
<plugin id="inokedialer" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>InvokeDial</name>
    <js-module name="InvokeDial" src="www/InvokeDial.js">
        <clobbers target="cordova.plugins.InvokeDial" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="InvokeDial">
                <param name="android-package" value="inokedialer.InvokeDial" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/InvokeDial.java" target-dir="src/inokedialer/InvokeDial" />
    </platform>
</plugin>